<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/style/verycool.css">
    </head>
    <body>
        <h2>Final Test</h2><br>

        <a href="/finalViews/register.html"> Register</a><br>
        <a href="/finalViews/signIn.html"> Sign In</a><br>

        <h2>Student Honour Pledge</h2>
        <p>I acknowledge Seneca College's academic integrity policy.<br>
            On my honor, I have neither given or received unauthorized aid on this test.</p>
       <p>Name: <mark><b>Gazal Garg</b></mark><br>
       <br>Student Number: <mark><b>107140212</b></mark><br></p>
    </body>

</html>