<!DOCTYPE html>
<html>
    <head>
        <title> Register </title>
    </head>
    <body>
        <form method = "POST" action="/register">
            <label> Email</label>
            <input name = "email" type = "text">
            <label> Password</label>
            <input name="pswd" type = "password">
            <button type = "submit"> Register </button>
        </form>
    </body>
</html>