<!DOCTYPE html>
<html>
    <head>
        <title> Sign In </title>
    </head>
    <body>
        <form method = "POST" action="/signIn">
            <label> Email</label>
            <input name = "email" type = "text">
            <label> Password</label>
            <input name="pswd" type = "password">
            <button type = "submit"> Sign In </button>
        </form>
    </body>
</html>